- provide :title, "Password Reset"

.row
	.col-md-4.col-md-offset-4
		.panel.panel-default
			.panel-body
				= simple_form_for :password_reset, url: password_resets_url do |f|
					= f.input :email
					= f.button "submit", class: "btn btn-primary"